.formacao {
    background-color: #1F1F1F;
}
.formacao-conteiner{
    max-width: 1200px;
    padding: 120px 20px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:100px; 
}
.formacao .subtitulo{
    color: #171717;
    min-width: 5ch !important;
}
.formacao-texto{
    font-size: 1.2rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #858585;
    position: relative;
    margin-left: 20px;
}
.formacao-texto strong{
    color: #C2C2C2;
}
.formacao-texto::after{
    content: "";
    height: 170px;
    width: 4px;
    background: linear-gradient(#7CD367, #288511);
    position: absolute;
    top: 4px;
    left: -24px;
}
.titulo-pequeno-formacao{
    color: #858585;
    font-size: 0.9rem;
    font-weight: lighter;
    padding-bottom: 10px;
}
.titulo-formacao{
    grid-column: 1/ span 2;
    padding-bottom: 25px;
    color: #fff;
}

.formacao-data{
    text-align: end;
    position: relative;
    color: #858585;
    font-size: 0.9rem;
}
.formacao-data::before{
    content: "";
    background-image: url("../imagens/svgs/svgs-formacao/faculdadeicone.svg");
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -25px;
    right: 30px;
    background-repeat: no-repeat;
}
.formação-estado{
    font-size: 0.7rem;
}
.formacao-caixa{
    background-color: #171717;
}
.idioma::before{
    content: "";
    background-image: url("../imagens/svgs/svgs-formacao/idiomasicone.svg");
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -25px;
    right: 30px;
    background-repeat: no-repeat;
}
@media(max-width:800px){
    .formacao-conteiner{
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }
    .formacao .subtitulo{
        color: #fff;
        font-size: 1.4rem;
        max-width: initial;
        text-align: center;
    }
    .formacao .subtitulo br{
        display: none;
    }
    .formacao-texto::after{
        display: none;
    }
    .formacao-caixa{
        grid-template-columns: 1fr;
    }
    .formacao .empresa-ano::before{
        display: none;
    }
}